@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root{
    --color-price: #26293a;
    --color-features: #9c9191; ;
    --color-boton: #fff; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header{
    display: flex;
    flex-flow: row wrap;
    width: cover;
    background: var(--color-features);
    align-items: center;
}

.logo{
    width: 30%;
}
.logo img{
    width: 40%;
    margin-left: 20px;
}


.menu{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    
    
}

nav{
    align-content: space-between;
    /* cursor: url(images/festejo_cursor.gif) */
         
}

nav ul li {
    display: inline-block;
    margin: 30px;
    text-shadow: 5px 5px 5px rgb(255, 255, 255, .3);
    
}
nav ul a{
    text-decoration: none;
    color: azure;
    text-shadow: 5px 5px 5px rgb(255, 255, 255, .3);
}
nav ul a:hover{
    text-decoration: none;
    color: #26293a;
}

main{
    width: cover;
    /* background: #26293a; */
    background-image: url(../images/estrellitas_fondo.jpg);
    background-size: cover;    
    flex-flow: column;
       
}

/* main:hover{
    filter: opacity(.8);
} */
/* main .portada{
    
} */
.portada{
    width: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    
    
}

.portada-logo {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.portada .texto{
    background-color: rgba(255, 255, 255, 0.1);
    width: auto;
    height: auto;
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}


.portada-logo img{
    display: flex;
    align-items: center;
    width: 80%;
    padding-bottom: 10px;
    transform: rotate3d();

    
}

/* .portada-logo img:hover{ */
    /* transform: scale(0.5); */
    /* transform: rotate(360deg) scale(60%);
    transition: 2s;
    
} */

.portada h1{
    color: #fff;
    font-weight: 200;
    text-shadow: 5px 5px 5px rgb(255, 255, 255, .2);
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    /* animation: swing;
    animation-duration: 2s; */

}

    .heart {
        position: fixed;
        width: 70px;
        height: 63px;
        pointer-events: none;
        transform: translate(50%, 50%);
        transition: .1s;
       
      }
      .heart:before,
      .heart:after {
        position: fixed;
        content: "";
        left: 30px;
        top: 0;
        width: 32px;
        height: 50px;
        background: red;
        border-radius: 50px 50px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      .heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }

      .heart2 {
        position: fixed;
        width: 40px;
        height: 36px;
        
        pointer-events: none;
        transform: translate(162%, 117%);
        transition: .2s;
              
        
      }
      .heart2:before,
      .heart2:after {
        position: fixed;
        content: "";
        left: 0px;
        top: 0px;
        width: 16px;
        height: 25px;
        background: rgb(255, 99, 71);
        border-radius: 50px 50px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      .heart2:after {
        left: -2px;
        top: -2px;
        transform: rotate(45deg);
        transform-origin: 38% 38%;
      }

      .heart3 {
        position: fixed;
        width: 30px;
        height: 27px;
        pointer-events: none;
        transform: translate(210%, 180%);
        transition: .3s;
              
        
      }
      .heart3:before,
      .heart3:after {
        position: fixed;
        content: "";
        left: 1px;
        top: 0;
        width: 6px;
        height: 10px;
        background: rgb(240, 196, 196);
        border-radius: 50px 50px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      .heart3:after {
        left: -5px;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }

      


      


.boton{
    display: inline-block;
    background-color: var(--color-features);
    color: var(--color-boton);
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    border-bottom-left-radius: 30px;


}


.cta a{
    text-decoration: none;
    color: #fff;   
   
}

.cta a:hover{
    text-decoration: none;
    color: #26293a;
   
}




.plan{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0;
    
    }
.plan-img{
    width: 30%;
    background: #fff;
    display: inline-block;
    padding: 20px;
    justify-content: center;
    text-align: center;
        
    }
.plan-img img{
    width: 60%;
          
}    
.plan-img h3{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    color: #26293a;

    
}
.plan-text-2{
    display: inline-block;
    width: 70%;
    background: var(--color-features);
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    padding: 50px;
    text-align: right;
    animation: slideInLeft;
    animation-duration: 8s;
    transition: 3s;
    animation-delay: 0.5s;
    
}
.plan-text{
    display: inline-block;
    width: 70%;
    background:var(--color-features);
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    padding: 50px;
    animation: slideInRight;
    animation-duration: 5s;
    transition: 2s;
    animation-delay: 0.5s;
    } 


    
.separation{
    width: 100%;
    height: auto;
    background-image: url(../images/frase-section.jpg);
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    margin-top: 25px;
}

.separation .frase-img h4{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 70px 150px;
    
}
.modelos{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 30px auto;
    padding: 5px 0px;
    height: 100%;
    
    
}

.modelos .galeria-titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-features);
    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.galeria-imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
    
    
}
.galeria-img{
    min-width: 150px;
    flex: 350px;
    
}

.galeria-img .img-item:hover{
   filter: sepia(0.60);
    
}
.img-item{
    width: 88%;
    height: 88%;
    object-fit: cover;
}

figcaption{
    font-size: large;
    font-weight: 500;
    color: var(--color-features);
}
footer{
    width: 100%;
    height: 80px;
    display: flex;
    display: inline-block;

}
footer .contacto{
    width: 100%;
}

footer .redes{
    background: #fff;
    display: inline-block;
    width: 50%;
    text-align: center;
      
    
}

footer ul li {
    display: inline-block;
    margin: 20px;
}

.fab {
    font-size: 30px;
    color: #26293a;


}

footer .telefonos{
    background: var(--color-features);
    display: inline-block;
    width: 49%;
    padding: 20px;
     
}
footer .telefonos h2{
    font-size: medium;
    font-weight: 800;
    color: #fff;
}

footer .telefonos p{
    font-size: medium;
    font-weight: 300;
    color: #fff;
}

.copright{
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px 0;
    font-size: medium;
    font-weight: 300;
    color: black;
}




@media screen and (max-width: 722px){

header{
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30%;    
    margin: 0px;
}
.menu{
    justify-content: center;
}
    
.menu nav ul li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.portada-logo img{
    width: 80%;
       
}
.texto{
    font-size: 100%;
}
.plan{
    display: flex;
    flex-direction:column;
    width: 100%;
}
.medio{
    flex-direction: column-reverse;
}

.plan-text{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.plan-text-2{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.plan-img{
    width: 100%;
    background: #fff;
    
        
    }
.plan-img img{
    width: 50%;
    
        
    
}    
.plan-img h3{
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.galeria-imagenes{
    justify-content: center;
    text-align: center;
}
figcaption{
    text-align: left;
    padding-left: 6%;
    
}

}

@media screen and (max-width: 600px) {
    


.cta {
    display: flex;
    flex-direction: column;
    
}

.boton{
    margin: 5px;
}

.separation .frase-img h4{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    
    
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
footer .redes{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--co);
    background: var(--color-features);
}

.fab{
    color: #fff;
}
footer .telefonos{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.copright{
    background: var(--color-features);
    color: #fff;

}

}