@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root{
    --color-price: #26293a;
    --color-features:#9c9191;
    --color-boton: #fff; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header{
    display: flex;
    flex-flow: row wrap;
    width: cover;
    background: #9c9191;
    align-items: center;
}

.logo{
    width: 30%;
}
.logo img{
    width: 50%;
    margin-left: 20px;
}


.menu{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    
    
}

nav{
    align-content: space-between;
    /* cursor: url(images/festejo_cursor.gif) */
    
       
       
}

nav ul li {
    display: inline-block;
    margin: 30px;
    text-shadow: 5px 5px 5px rgb(255, 255, 255, .3);
    
}
nav ul a{
    text-decoration: none;
    color: azure;
    text-shadow: 5px 5px 5px rgb(255, 255, 255, .3);
}
nav ul a:hover{
    text-decoration: none;
    color: #26293a;
}

main{
    width: cover;
    /* background: #26293a; */
    background-image: url(../images/estrellitas_fondo.jpg);
    background-size: cover;    
    flex-flow: column;
    
}
/* main .portada{
    
} */
.portada{
    width: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    
}

.portada-logo {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}


.portada-logo img{
    display: flex;
    align-items: center;
    width: 80%;
    padding-bottom: 10px;
    
}
.portada h1{
    color: #fff;
    font-weight: 200;
    text-shadow: 5px 5px 5px rgb(255, 255, 255, .3);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;

}


.boton{
    display: inline-block;
    background-color: var(--color-features);
    color: var(--color-boton);
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-bottom-left-radius: 30px;


}


.boton a{
    text-decoration: none;
    color: #26293a;
   
}

.boton a:hover{
    text-decoration: none;
    color: #fff;
   
}




.plan{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    }
.plan-img{
    width: 30%;
    background: #fff;
    display: inline-block;
    padding: 20px;
    justify-content: center;
    text-align: center;
        
    }
.plan-img img{
    width: 60%;
          
}    
.plan-img h3{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    color: #26293a
    
}
.plan-text-2{
    display: inline-block;
    width: 70%;
    background: #9c9191;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    padding: 50px;
    text-align: right;
}
.plan-text{
    display: inline-block;
    width: 70%;
    background: #9c9191;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    padding: 50px;
    } 


.separation{
    width: 100%;
    height: auto;
    background-image: url(../images/frase-section.jpg);
    background-size: cover;
    display: flex;
    background-attachment: fixed;
}

.separation .frase-img h4{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 70px 150px;
    
}
.modelos{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 30px auto;
    padding: 40px 0px;
    height: 100%;
    
    
}

.modelos .galeria-titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #9c9191;
    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.galeria-imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
    
    
}
.galeria-img{
    min-width: 150px;
    flex: 350px;
    
}
.img-item{
    width: 88%;
    height: 88%;
    object-fit: cover;
}

figcaption{
    font-size: large;
    font-weight: 500;
    color: #9c9191;
}
footer{
    width: 100%;
    height: 80px;
    display: flex;
    display: inline-block;

}
footer .contacto{
    width: 100%;
}

footer .redes{
    background: #fff;
    display: inline-block;
    width: 50%;
    text-align: center;
      
    
}

footer ul li {
    display: inline-block;
    margin: 20px;
}

.fab {
    font-size: 30px;
    color: #26293a;


}

footer .telefonos{
    background: #26293a;
    display: inline-block;
    width: 49%;
    padding: 20px;
     
}
footer .telefonos h2{
    font-size: medium;
    font-weight: 800;
    color: #fff;
}

footer .telefonos p{
    font-size: medium;
    font-weight: 300;
    color: #fff;
}




@media screen and (max-width: 722px){

header{
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30%;    
    margin: 0px;
}
.menu{
    justify-content: center;
}
    
.menu nav ul li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.portada-logo img{
    width: 80%;
       
    
}

.texto{
    font-size: 100%;
}

.plan{
    display: flex;
    flex-direction:column;
    width: 100%;
    }

.medio{
    flex-direction: column-reverse;
}

.plan-text{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.plan-text-2{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.plan-img{
    width: 100%;
    background: #fff;
    
        
    }
.plan-img img{
    width: 50%;
    
        
    
}    
.plan-img h3{
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.galeria-imagenes{
    justify-content: center;
    text-align: center;
}
figcaption{
    text-align: left;
    padding-left: 6%;
    
}

}

@media screen and (max-width: 600px) {
    


.cta {
    display: flex;
    flex-direction: column;
    
}

.boton{
    margin: 5px;
}

.separation .frase-img h4{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    
    
}

footer{
    display: flex;
    flex-direction: column;
}
footer .redes{
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer .telefonos{
    display: flex;
    flex-direction: column;
    width: 100%;
}
}